extends layout

block styles
    link(rel="stylesheet", href=require("../css/index.sass"), type="text/css")

block content
    header
        span Slogan
        a(href="#register"): button(type="button") Register
    
    section#bullet
        article
            if IE
                img(src=require("../svg/fallback/cogs.png"), alt="Cogs icon")
            else
                img(src=require("../svg/cogs.svg"), alt="Cogs icon")
            h1 Engineering
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Reiciendis asperiores, delectus a. Eaque illum, odio nam 
                consequuntur iure officia, nisi rem provident eligendi 
                maxime deleniti minus repudiandae fugiat at sit.
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Reiciendis asperiores, delectus a. Eaque illum, odio nam 
                consequuntur iure officia, nisi rem provident eligendi 
                maxime deleniti minus repudiandae fugiat at sit.
                
        article
            if IE
                img(src=require("../svg/fallback/airplane.png"), alt="Airplane icon")
            else
                img(src=require("../svg/airplane.svg"), alt="Airplane icon")
            h1 Transport
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Reiciendis asperiores, delectus a. Eaque illum, odio nam 
                consequuntur iure officia, nisi rem provident eligendi 
                maxime deleniti minus repudiandae fugiat at sit.
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Reiciendis asperiores, delectus a. Eaque illum, odio nam 
                consequuntur iure officia, nisi rem provident eligendi 
                maxime deleniti minus repudiandae fugiat at sit.

    form#register
        label First Name
        input(type="text")

        label Last Name
        input(type="text")

        label About You
        textarea

        button(type="submit") Submit
