doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        if title
            title Static Site Demo - #{title}
        else
            title Static Site Demo

        //- Polyfill HTML5 elements.
        if IE
            script(src=require("../js/lib/html5shiv/html5shiv.js"), type="text/javascript")

        link(rel="stylesheet", href=require("../css/lib/normalize/normalize.css"), type="text/css")
        if !IE
            //- Bad reaction with Selectivizr.
            link(rel="stylesheet", href=require("../css/fonts.css"), type="text/css")
        link(rel="stylesheet", href=require("../css/layout.sass"), type="text/css")
        block styles

        if IE
            //- Polyfill CSS3 selectors.
            //- Note: Only Selectivizr v1.0.3b is compatible with RespondJs.
            script(src=require("../js/lib/selectivizr/nwmatcher.js"), type="text/javascript")
            script(src=require("../js/lib/selectivizr/selectivizr.js"), type="text/javascript")
            //- Polyfill media queries (level 3).
            script(src=require("../js/lib/respond/respond.src.js"), type="text/javascript")

    body
        header
            div
                if IE
                    img(src=require("../svg/fallback/safety-helmet.png"))
                else
                    img(src=require("../svg/safety-helmet.svg"))
                a(href="/"): span Doe's Company
            nav
                a(href="/") Home
                a(href="/about") About
                a(href="/team") Team
        main
            block content
        footer
            ul
                li: a(href="#") Reference
                li: a(href="#") External
                li: a(href="#") Internal
            ul
                li: a(href="/") Home
                li: a(href="/about") About
                li: a(href="/team") Team
            ul
                li: a: img(src=require("../img/html5-logo.png"))

        script(src=require("../js/sticky-footer.iced"), type="text/javascript")
        block scripts
